<div>
      <%= link_to "Back", workouts_path, class: "
      inline-flex items-center gap-2
      px-4 py-2
      text-sm font-medium
      text-gray-700
      bg-white
      border border-gray-300
      rounded-md
      hover:bg-gray-50
      active:bg-gray-100
      transition
    " %>
  <div class="mt-6 mb-8">

  <div class="mb-5 pr-10"> 
    <h2 class="font-semibold text-2xl">
      <%= @workout.workout_plan.name %>
    </h2>
    <p class="text-gray-600">
      <%= l @workout.workout_date, format: :long %>
    </p>
  </div>

  <%= simple_form_for @workout, url: workout_path(@workout), method: :patch do |f| %>
    <%= f.error_notification %>

    <% @workout.workout_exercises.includes(:exercise, :workout_sets).order(:position).each do |we| %>
      <div class="border rounded-lg p-4 mb-4">
        <h2 class="font-semibold text-xl mb-2">
          <%= we.exercise.name %>
        </h2>

        <div class="space-y-2">
          <%= f.simple_fields_for :workout_exercises, we do |we_fields| %>
            <%= we_fields.simple_fields_for :workout_sets do |set_fields| %>
              <div class="grid grid-cols-3 gap-4 items-end">
                <div>
                  <%= set_fields.input :set_number, label: "Set", input_html: { readonly: true } %>
                </div>
                <div>
                  <%= set_fields.input :reps, label: "Reps" %>
                </div>
                <div>
                  <%= set_fields.input :weight_kg, label: "Weight (kg)" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="mt-6 flex justify-end">
      <%= f.submit "Save Workout", class: "px-4 py-2 bg-blue-600 text-white rounded-lg cursor-pointer" %>
    </div>
  <% end %>
</div>
