<div>
  <!-- Header -->
  <div class="mb-6">
    <div class="mb-1 text-gray-600">
      <%= pluralize(@workout_plans.count, "Workout Plan") %> with <%= pluralize(@workout_plans.sum { |plan| plan.exercises.count }, "Exercise") %>
    </div>
    <div class="flex justify-between items-center">
      <% if current_user.first_name.present? %>
        <h1 class="text-3xl font-bold">Hi <%= current_user.first_name %>! Ready for a workout?</h1>
      <% else %>
        <h1 class="text-3xl font-bold">Ready for a workout?</h1>
      <% end %>

      <%= button_to "Create New Workout Plan →",
          new_workout_plan_path,
          method: :get,
          class: "px-4 py-2 text-base font-medium leading-6 text-white
                  whitespace-no-wrap bg-blue-600 border border-blue-700 
                  rounded-md shadow-sm hover:bg-blue-700 focus:outline-none 
                  focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer" %>
    </div>
  </div>



  <!-- Cards -->
  <div class="space-y-4">
    <% @workout_plans.each do |plan| %>

      <div class="relative border rounded-lg p-4 mb-4">

        <!-- Delete icon (top-right) -->
        <div class="absolute top-4 right-4">
          <%= button_to workout_plan_path(plan),
                        method: :delete,
                        data: { turbo_confirm: "Are you sure?" },
                        form: { class: "inline-block" } do %>
            <%= icon "trash", class: "w-5 h-5 text-gray-500 hover:text-red-600 cursor-pointer" %>
          <% end %>
        </div>

        <!-- Title (top-left) -->
        <div class="mb-3 pr-10">
          <h2 class="font-semibold text-xl"><%= plan.name %></h2>

          <% if plan.comment.present? %>
            <p class="text-gray-600 text-sm"><%= plan.comment %></p>
          <% end %>
        </div>

        <!-- Exercise list -->
        <div class="mt-2">
          <% if plan.exercises.any? %>
            <% plan.plan_exercises.order(:position).each do |pe| %>
              <p class="font-medium"><%= pe.exercise.name %></p>
            <% end %>
          <% else %>
            <p class="text-gray-500 italic text-sm">No exercises added yet.</p>
          <% end %>
        </div>

        <!-- Start Tracking button (bottom-right) -->
        <div class="flex justify-end">
          <%= link_to new_workout_plan_workout_path(plan),
                      class: "flex items-center gap-2 text-sm text-blue-600 " do %>
            Start Tracking
            <%= icon "play", class: "w-4 h-4 text-blue-600" %>
          <% end %>
        </div>
  
          </div>

    <% end %>
  </div>
</div>